@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background-color: white;
}

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}
a {
    text-decoration: none;
    cursor: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

    .section-title span {
        color: #0f0;
    }

.cta {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #0f0;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 000px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

    .cta:hover {
        transition-delay: 1.5s;
        color: #000;
        box-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0, 0 0 160px #0f0;
    }

    .cta span {
        position: relative;
        z-index: 100;
    }

    .cta:nth-child(2) {
        filter: hue-rotate(80deg);
    }

    .cta::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #0f0;
        box-shadow: 5px -8px 0 #0f0, 5px 8px 0 #0f0;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta:hover::before {
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0 0 #0f0, 5px 0 0 #0f0;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #0f0;
        box-shadow: -5px -8px 0 #0f0, -5px 8px 0 #0f0;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta:hover::after {
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0 0 #0f0, -5px 0 0 #0f0;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

.ctaProjects {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #00c3ff;
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 000px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

    .ctaProjects:hover {
        transition-delay: 1.5s;
        color: #000;
        box-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 160px #00c3ff;
    }

    .ctaProjects span {
        position: relative;
        z-index: 100;
    }

    .ctaProjects:nth-child(2) {
        filter: hue-rotate(80deg);
    }

    .ctaProjects::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00c3ff;
        box-shadow: 5px -8px 0 #00c3ff, 5px 8px 0 #00c3ff;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects:hover::before {
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0 0 #00c3ff, 5px 0 0 #00c3ff;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00c3ff;
        box-shadow: -5px -8px 0 #00c3ff, -5px 8px 0 #00c3ff;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects:hover::after {
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0 0 #00c3ff, -5px 0 0 #00c3ff;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

    .brand h1 span {
        color: #0f0;
    }

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

    #header .header {
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.24);
        transition: 0.3s ease background-color;
    }

    #header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
    }

    #header .nav-list ul {
        list-style: none;
        position: absolute;
        background-color: rgb(31, 30, 30);
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left;
    }

        #header .nav-list ul.active {
            left: 0%;
        }

        #header .nav-list ul a {
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 20px;
            display: block;
        }

            #header .nav-list ul a::after {
                content: attr(data-after);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                color: rgba(240, 248, 255, 0.021);
                font-size: 13rem;
                letter-spacing: 50px;
                z-index: -1;
                transition: 0.3s ease letter-spacing;
            }

        #header .nav-list ul li:hover a::after {
            transform: translate(-50%, -50%) scale(1);
            letter-spacing: initial;
        }

        #header .nav-list ul li:hover a {
            color: #0f0;
        }
    #header .hamburger {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 3px solid white;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(0.8);
        margin-right: 20px;
    }

        #header .hamburger:after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 3px solid white;
            animation: hamburger_puls 1s ease infinite;
        }

        #header .hamburger .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: white;
            z-index: -1;
        }

            #header .hamburger .bar::after,
            #header .hamburger .bar::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background-color: white;
                transition: 0.3s ease;
                transition-property: top, bottom;
            }

            #header .hamburger .bar::after {
                top: 8px;
            }

            #header .hamburger .bar::before {
                bottom: 8px;
            }

        #header .hamburger.active .bar::before {
            bottom: 0;
        }

        #header .hamburger.active .bar::after {
            top: 0;
        }
/* End Header section */

/* Home Section */
#home {
    background-image: url(./resources/img/bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

    #home::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
    }

    #home .home {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }

    #home h1 {
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: white;
    }

        #home h1 span {
            position: relative;
            color: #0f0;
            max-width: 100%;
        }

    #home .topline {
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #fff;
    }

        #home .topline::after {
            position: absolute;
            content: '';
            height: 4px;
            width: 35px;
            bottom: 10px;
            background-color: #0f0;
        }
/* End Home Section */

/* Projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

    #projects .project-info h1 {
        font-size: 4rem;
        font-weight: 500;
    }

    #projects .project-info h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
    }

    #projects .project-info p {
        color: white;
    }

#projects .project-img, .project-img2 {
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
}

    #projects .project-img:after, .project-img2:after {
        content: '';
        position: absolute;
        left: 0px;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        opacity: 0.7;
    }

    #projects .project-img img, .project-img2 img {
        transition: 0.3s ease transform;
    }

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

#projects .project-item:hover .project-img2 img {
    transform: scale(1.08);
}
/* End Projects section */

/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

    #about .col-right h2 {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
    }

    #about .col-right p {
        margin-bottom: 20px;
    }

    #about .col-right .cta {
        color: black;
        margin-bottom: 50px;
        padding: 10px 20px;
        font-size: 2rem;
    }

#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

    #about .col-left .about-img::after {
        content: '';
        position: absolute;
        left: -33px;
        top: 19px;
        height: 98%;
        width: 98%;
        border: 7px solid #0f0;
        z-index: -1;
    }
/* End About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

    #contact .contact-item:hover {
        box-shadow: 0px 0px 5px 0 #0000002c;
    }

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
    position: absolute;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff4f8b, #dff1ff);
}

    #footer::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        z-index: 10;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }

    #footer p {
        color: black;
        font-size: 1.3rem;
    }

    #footer ul {
        position: relative;
        display: flex;
    }

        #footer ul li {
            position: relative;
            list-style: none;
            margin: 10px;
        }

            #footer ul li a {
                position: relative;
                top: 0;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 2em;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(4px);
                z-index: 1;
                box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: top 0.5s, z-index 0s, transform 0.5s;
                transition-delay: 0.5s, 0.5s, 0s;
            }

                #footer ul li a:hover {
                    transition-delay: 0s, 0.5s, 0.5s;
                    top: -50px;
                    transform: translateY(50px);
                    z-index: 11;
                }

                #footer ul li a:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.5);
                    transform: skewX(45deg) translateX(150px);
                    transition: 0.5s;
                }

                #footer ul li a:hover:before {
                    transform: skewX(45deg) translateX(-150px);
                }

    #footer .copyrights {
        position: absolute;
        bottom: 0;
        z-index: 15;
    }
/* End Footer */

/* Keyframes */
@keyframes animate {
    0%, 100% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(5px);
    }
}

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cursor, .circle {
        display: block;
    }

    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }
    /* Header */
    audio {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        width: 250px;
        height: 25px;
        position: fixed;
        margin-top: 3%;
        margin-left: -14%;
    }
    /* End Header */

    /* Home */
    #home h1 {
        font-size: 7rem;
    }
    /* End Home */

    /* Project */
    #projects .project-item {
        flex-direction: row;
    }

        #projects .project-item:nth-child(even) {
            flex-direction: row-reverse;
        }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Project */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #0f0;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

        #about .col-right h1 {
            text-align: left;
        }
    /* End About */

    /* Contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }

        #contact .contact-item .icon {
            height: 100px;
            width: 100px;
        }

            #contact .contact-item .icon img {
                object-fit: contain;
            }

        #contact .contact-item .contact-info {
            width: 100%;
        }

        #contact .contact-item a:link, a:visited, a:hover, a:active {
            color: black;
        }
    /* End Contact */
    /* Footer */
    #footer .liHidden {
        display: initial;
    }
    /* End Footer */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    .cursor, .circle {
        display: block;
    }

    /* Header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

        #header .nav-list ul li {
            display: inline-block;
        }

            #header .nav-list ul li a {
                font-size: 1.8rem;
            }

        #header .nav-list ul a:after {
            display: none;
        }
    audio {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        width: 250px;
        height: 25px;
        position: fixed;
        margin-top: 1.3%;
        margin-left: 0%;
    }
    /* End Header */
    /* Footer */
    #footer .liHidden {
        display: initial;
    }
    /* End Footer */
}
/* End  Media Query For Desktop */

/* Media Query For Mobile */
@media only screen and (max-device-width : 768px) {
    .cursor, .circle {
        display: none;
    }
    audio {
        filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
        width: 200px;
        height: 25px;
        position: fixed;
        margin-top: 5%;
        margin-left: -23%;
    }
    /* Footer */
    #footer .liHidden {
        display: none;
    }
    /* End Footer */
}
/* End  Media Query For Mobile */
