@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background-color: #000000;
    overflow: hidden;
}


    .shootingStarContainer:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 130%;
        transform: rotate(45deg);
        z-index: 10;
    }

    .shootingStarContainer:nth-child(2) {
        position: absolute;
        width: 100%;
        height: 130%;
        transform: rotate(45deg);
        z-index: 10;
    }

    .shootingStarContainer:nth-child(3) {
        position: absolute;
        width: 100%;
        height: 130%;
        transform: rotate(40deg);
        z-index: 10;
    }

.shootingStar {
    position: absolute;
    height: 1px;
    background: linear-gradient(-70deg, rgba(255, 235, 235, 1), rgba(0, 0, 0, 1));
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(1) {
    left: calc(12%);
    top: calc(20%);
    animation: shootingFrames 984ms ease-in-out 30513ms;
    opacity: 0.83;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(2) {
    left: calc(31%);
    top: calc(42%);
    animation: shootingFrames 2160ms ease-in-out 47905ms;
    opacity: 0.76;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(3) {
    left: calc(45%);
    top: calc(67%);
    animation: shootingFrames 1470ms ease-in-out 14522ms;
    opacity: 0.29;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(4) {
    left: calc(45%);
    top: calc(53%);
    animation: shootingFrames 2098ms ease-in-out 52249ms;
    opacity: 0.42;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(5) {
    left: calc(42%);
    top: calc(83%);
    animation: shootingFrames 2405ms ease-in-out 54541ms;
    opacity: 0.69;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(6) {
    left: calc(40%);
    top: calc(47%);
    animation: shootingFrames 1921ms ease-in-out 57955ms;
    opacity: 0.23;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(7) {
    left: calc(36%);
    top: calc(74%);
    animation: shootingFrames 1329ms ease-in-out 1386ms;
    opacity: 0.73;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(8) {
    left: calc(1%);
    top: calc(52%);
    animation: shootingFrames 1009ms ease-in-out 18655ms;
    opacity: 0.5;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(9) {
    left: calc(34%);
    top: calc(86%);
    animation: shootingFrames 1321ms ease-in-out 27025ms;
    opacity: 0.28;
}

.shootingStarContainer:nth-child(1) .shootingStar:nth-child(10) {
    left: calc(14%);
    top: calc(13%);
    animation: shootingFrames 2233ms ease-in-out 42160ms;
    opacity: 0.31;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(1) {
    left: calc(47%);
    top: calc(85%);
    animation: shootingFrames 1753ms ease-in-out 41119ms;
    opacity: 0.34;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(2) {
    left: calc(6%);
    top: calc(51%);
    animation: shootingFrames 2458ms ease-in-out 20204ms;
    opacity: 0.64;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(3) {
    left: calc(49%);
    top: calc(53%);
    animation: shootingFrames 1557ms ease-in-out 32909ms;
    opacity: 0.79;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(4) {
    left: calc(19%);
    top: calc(21%);
    animation: shootingFrames 904ms ease-in-out 46979ms;
    opacity: 0.55;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(5) {
    left: calc(3%);
    top: calc(59%);
    animation: shootingFrames 1406ms ease-in-out 20843ms;
    opacity: 0.22;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(6) {
    left: calc(37%);
    top: calc(4%);
    animation: shootingFrames 774ms ease-in-out 5277ms;
    opacity: 0.54;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(7) {
    left: calc(37%);
    top: calc(75%);
    animation: shootingFrames 2316ms ease-in-out 2543ms;
    opacity: 0.34;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(8) {
    left: calc(45%);
    top: calc(33%);
    animation: shootingFrames 996ms ease-in-out 27435ms;
    opacity: 0.76;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(9) {
    left: calc(39%);
    top: calc(32%);
    animation: shootingFrames 2258ms ease-in-out 10303ms;
    opacity: 0.17;
}

.shootingStarContainer:nth-child(2) .shootingStar:nth-child(10) {
    left: calc(18%);
    top: calc(96%);
    animation: shootingFrames 1083ms ease-in-out 59160ms;
    opacity: 0.42;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(1) {
    left: calc(9%);
    top: calc(12%);
    animation: shootingFrames 2055ms ease-in-out 44596ms;
    opacity: 0.3;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(2) {
    left: calc(23%);
    top: calc(42%);
    animation: shootingFrames 1332ms ease-in-out 23127ms;
    opacity: 0.5;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(3) {
    left: calc(21%);
    top: calc(58%);
    animation: shootingFrames 2398ms ease-in-out 30040ms;
    opacity: 0.44;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(4) {
    left: calc(21%);
    top: calc(29%);
    animation: shootingFrames 1906ms ease-in-out 54446ms;
    opacity: 0.73;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(5) {
    left: calc(49%);
    top: calc(18%);
    animation: shootingFrames 2553ms ease-in-out 9803ms;
    opacity: 0.55;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(6) {
    left: calc(14%);
    top: calc(97%);
    animation: shootingFrames 1127ms ease-in-out 38237ms;
    opacity: 0.25;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(7) {
    left: calc(7%);
    top: calc(85%);
    animation: shootingFrames 2334ms ease-in-out 58069ms;
    opacity: 0.69;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(8) {
    left: calc(20%);
    top: calc(44%);
    animation: shootingFrames 1115ms ease-in-out 55646ms;
    opacity: 0.8;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(9) {
    left: calc(34%);
    top: calc(57%);
    animation: shootingFrames 1817ms ease-in-out 23758ms;
    opacity: 0.3;
}

.shootingStarContainer:nth-child(3) .shootingStar:nth-child(10) {
    left: calc(23%);
    top: calc(22%);
    animation: shootingFrames 1250ms ease-in-out 34923ms;
    opacity: 0.66;
}

.stars, .twinkleMask, .twinkleMask2, .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: #000000 url('./resources/img/stars.jpg') repeat top center;
    z-index: 0;
}

.twinkleMask {
    background: transparent url('./resources/img/twinkleMask.png') repeat top center;
    z-index: 1;
    animation: twinkleFrames 700s linear infinite;
}

.twinkleMask2 {
    background: transparent url('./resources/img/twinkleMask2.png') repeat top center;
    z-index: 2;
    height: 200%;
    animation: twinkleFrames2 300s linear infinite;
}

.clouds {
    background: transparent url('./resources/img/clouds.png') repeat top center;
    z-index: 3;
    height: 150%;
    animation: cloudsFrames 300s linear infinite;
}

.fogContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 7;
}

.fog {
    position: absolute;
    left: -50%;
    top: -30%;
    width: 200%;
    height: 200%;
    animation-name: fogFrames;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(-5deg #00000000 0%, #ffffff15 40%, #74590121 45%, #8b845b21 55%, #00000000 70%);
}

.name {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 1.2% auto auto auto;
    text-align: center;
    z-index: 10;
}

    .name h1 {
        font-size: 3rem;
        text-transform: uppercase;
        color: white;
    }

        .name h1 span {
            color: #00ff00;
        }

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer {
    position: fixed;
    background: #111111;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: transform 1s;
    transition-delay: 0s;
    z-index: 99999;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
}

    .outer button, .outer span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: none;
    }

    .outer button {
        background: #111111;
        color: #f2f2f2;
        outline: none;
        border: none;
        z-index: 99999;
        font-size: 25px;
        letter-spacing: 5px;
        font-weight: 700;
        text-transform: uppercase;
        height: 180px;
        width: 180px;
        border-radius: 50%;
    }

    .outer span {
        height: 100%;
        width: 100%;
        background: inherit;
        border-radius: 50%;
    }

        .outer span:nth-child(1) {
            filter: blur(7px);
        }

        .outer span:nth-child(2) {
            filter: blur(14px);
        }

    .outer:hover {
        background: linear-gradient(#11ffe9, #ffeb3b, #ff00e0);
        animation: rotate 1.5s linear infinite;
        transition-delay: 0s, 0.5s, 0.5s;
        transform: translateY(-25px);
    }

.rights {
    position: absolute;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

    .rights p {
        color: white;
        font-size: 1.3rem;
    }

.loading-container {
    position: fixed;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 25% auto auto auto;
    z-index: 99999;
}

    .loading-container .ring {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid transparent;
        border-top: 4px solid #24ecff;
        margin: -30px;
        animation: loading 4s linear infinite;
    }

        .loading-container .ring::before {
            content: '';
            position: absolute;
            top: 12px;
            right: 12px;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background: #24ecff;
            box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff33, 0 0 0 20px #24ecff33, 0 0 20px #24ecff, 0 0 50px #24ecff;
        }

        .loading-container .ring:nth-child(2) {
            animation: loading2 4s linear infinite;
            animation-delay: -1s;
            border-top: 4px solid transparent;
            border-left: 4px solid #93ff2d;
        }

            .loading-container .ring:nth-child(2)::before {
                content: '';
                position: absolute;
                top: initial;
                bottom: 12px;
                left: 12px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: #93ff2d;
                box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 20px #93ff2d11, 0 0 20px #93ff2d, 0 0 50px #93ff2d;
            }

        .loading-container .ring:nth-child(3) {
            animation: loading2 4s linear infinite;
            animation-delay: -3s;
            position: absolute;
            top: -66.66px;
            border-top: 4px solid transparent;
            border-left: 4px solid #e41cf8;
        }

            .loading-container .ring:nth-child(3)::before {
                content: '';
                position: absolute;
                top: initial;
                bottom: 12px;
                left: 12px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: #e41cf8;
                box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811, 0 0 20px #e41cf8, 0 0 50px #e41cf8;
            }

    .loading-container p {
        position: absolute;
        font-size: 3em;
        font-family: Consolas;
        color: white;
        bottom: -90px;
        letter-spacing: 0.15px;
    }

::-webkit-scrollbar {
    width: 15px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(150,150,150)), color-stop(0.72, rgb(125,125,125)), color-stop(0.86, rgb(55,55,55)));
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(55,55,55)), color-stop(0.72, rgb(125,125,125)), color-stop(0.86, rgb(150,150,150)));
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(0,255,0)), color-stop(0.72, rgb(0,200,0)), color-stop(0.86, rgb(0,175,0)));
}

.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
}

.circle {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    background-color: #fff;
}

a {
    text-decoration: none;
    cursor: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

    .section-title span {
        color: #00ff00;
    }

.cta {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #00ff00;
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 000px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
}

    .cta:hover {
        transition-delay: 1.5s;
        color: #000;
        box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 160px #00ff00;
    }

    .cta span {
        position: relative;
        z-index: 100;
    }

    .cta:nth-child(2) {
        filter: hue-rotate(80deg);
    }

    .cta::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00ff00;
        box-shadow: 5px -8px 0 #00ff00, 5px 8px 0 #00ff00;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta:hover::before {
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0 0 #00ff00, 5px 0 0 #00ff00;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00ff00;
        box-shadow: -5px -8px 0 #00ff00, -5px 8px 0 #00ff00;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .cta:hover::after {
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0 0 #00ff00, -5px 0 0 #00ff00;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

.ctaProjects {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #00c3ff;
    margin: 20px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #fff;
    -webkit-box-reflect: below 000px linear-gradient(transparent, #0002);
    transition: 0.5s;
    transition-delay: 0s;
    z-index: 3;
}

    .ctaProjects:hover {
        transition-delay: 1.5s;
        color: #000;
        box-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 80px #00c3ff, 0 0 160px #00c3ff;
    }

    .ctaProjects span {
        position: relative;
        z-index: 100;
    }

    .ctaProjects:nth-child(2) {
        filter: hue-rotate(80deg);
    }

    .ctaProjects::before {
        content: '';
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00c3ff;
        box-shadow: 5px -8px 0 #00c3ff, 5px 8px 0 #00c3ff;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects:hover::before {
        width: 60%;
        height: 100%;
        left: -2px;
        box-shadow: 5px 0 0 #00c3ff, 5px 0 0 #00c3ff;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects::after {
        content: '';
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 2px;
        background: #00c3ff;
        box-shadow: -5px -8px 0 #00c3ff, -5px 8px 0 #00c3ff;
        transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

    .ctaProjects:hover::after {
        width: 60%;
        height: 100%;
        right: -2px;
        box-shadow: -5px 0 0 #00c3ff, -5px 0 0 #00c3ff;
        transition-delay: 1s, 0.5s, 0s, 0s;
    }

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

    .brand h1 span {
        color: #00ff00;
    }

/* Header section */
#header {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

    #header .header {
        min-height: 8vh;
        background-color: rgba(31, 30, 30, 0.24);
        transition: 0.3s ease background-color;
    }

    #header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        padding: 0 10px;
    }

    #header .nav-list ul {
        list-style: none;
        position: absolute;
        background-color: rgb(31, 30, 30);
        width: 100vw;
        height: 100vh;
        left: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        overflow-x: hidden;
        transition: 0.5s ease left;
    }

        #header .nav-list ul.active {
            left: 0%;
        }

        #header .nav-list ul a {
            font-size: 2.5rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            padding: 20px;
            display: block;
        }

            #header .nav-list ul a::after {
                content: attr(data-after);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                color: rgba(240, 248, 255, 0.021);
                font-size: 13rem;
                letter-spacing: 50px;
                z-index: -1;
                transition: 0.3s ease letter-spacing;
            }

        #header .nav-list ul li:hover a::after {
            transform: translate(-50%, -50%) scale(1);
            letter-spacing: initial;
        }

        #header .nav-list ul li:hover a {
            color: #00ff00;
        }

    #header .hamburger {
        height: 60px;
        width: 60px;
        display: inline-block;
        border: 3px solid white;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        cursor: pointer;
        transform: scale(0.8);
        margin-right: 20px;
    }

        #header .hamburger:after {
            position: absolute;
            content: '';
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 3px solid white;
            animation: hamburger_puls 1s ease infinite;
        }

        #header .hamburger .bar {
            height: 2px;
            width: 30px;
            position: relative;
            background-color: white;
            z-index: -1;
        }

            #header .hamburger .bar::after,
            #header .hamburger .bar::before {
                content: '';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                background-color: white;
                transition: 0.3s ease;
                transition-property: top, bottom;
            }

            #header .hamburger .bar::after {
                top: 8px;
            }

            #header .hamburger .bar::before {
                bottom: 8px;
            }

        #header .hamburger.active .bar::before {
            bottom: 0;
        }

        #header .hamburger.active .bar::after {
            top: 0;
        }

    #header .audio-container {
        display: flex;
        align-items: center;
        width: 90%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 10px;
        min-width: 220px;
        position: relative;
        top: 10px;
    }

        #header .audio-container img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        #header .audio-container .audio-controls {
            display: flex;
            flex-grow: 1;
            align-items: center;
            margin-right: 10px;
            border-radius: 50%;
        }

            #header .audio-container .audio-controls .audio-buttons {
                display: flex;
                align-items: center;
                margin-right: 10px;
            }

                #header .audio-container .audio-controls .audio-buttons button {
                    background-color: transparent;
                    border: none;
                    color: white;
                    margin-right: 5px;
                    font-size: 20px;
                    cursor: none;
                }

    #header .audio-buttons button {
        padding: 15px;
    }

        #header .audio-buttons button:hover {
            transition: all 0.4s ease-in-out;
            transform: scale(1.2);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            background-color: rgba(255, 255, 255, 0.4);
        }

    #header .song-artist {
        color: white;
        font-weight: 900;
        margin-right: 10px;
    }

    #header .song-title {
        color: white;
        font-weight: 500;
        margin-right: 10px;
        min-width: 53px;
    }
/* End Header section */
/* Home Section */
#home {
    display: none;
    background-image: url(./resources/img/bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

    #home::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
    }

    #home .home {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
    }

    #home h1 {
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: white;
    }

        #home h1 span {
            position: relative;
            color: #00ff00;
            max-width: 100%;
        }

    #home .topline {
        display: block;
        position: relative;
        font-size: 35px;
        letter-spacing: 5px;
        color: #fff;
    }

        #home .topline::after {
            position: absolute;
            content: '';
            height: 4px;
            width: 35px;
            bottom: 10px;
            background-color: #00ff00;
        }
/* End Home Section */

/* Projects section */
#projects {
    display: none;
}

    #projects .projects {
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 0;
    }

    #projects .projects-header h1 {
        margin-bottom: 50px;
    }

    #projects .all-projects {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
    }

    #projects .project-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
        overflow: hidden;
        gap: 8px;
    }

    #projects .project-info {
        padding: 30px;
        flex-basis: 50%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        color: white;
        border-radius: 10px;
        position: relative;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    }

        #projects .project-info:hover::before {
            opacity: 1;
        }

        #projects .project-info::before {
            content: '';
            background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.15), transparent 40%);
            border-radius: inherit;
            height: 100%;
            left: 0px;
            opacity: 0;
            position: absolute;
            top: 0px;
            transition: opacity 500ms;
            width: 100%;
            z-index: 2;
        }

        #projects .project-info h1 {
            font-size: 4rem;
            font-weight: 500;
        }

        #projects .project-info h2 {
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: 10px;
        }

        #projects .project-info p {
            color: white;
        }

    #projects .project-img {
        flex-basis: 50%;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        position: relative;
    }

        #projects .project-img:hover::before {
            opacity: 1;
        }

        #projects .project-img::before {
            content: '';
            background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.20), transparent 40%);
            height: 100%;
            left: 0px;
            opacity: 0;
            position: absolute;
            top: 0px;
            transition: opacity 500ms;
            width: 100%;
            z-index: 2;
        }

        #projects .project-img:after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
            opacity: 0.7;
        }

        #projects .project-img img {
            transition: 0.3s ease transform;
        }

    #projects .project-item:hover .project-img img {
        transform: scale(1.1);
    }
/* End Projects section */

/* About Section */
#about {
    display: none;
}

    #about .about {
        flex-direction: column-reverse;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px 20px;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }

    #about .col-right {
        width: 100%;
    }

        #about .col-right h2 {
            font-size: 1.8rem;
            font-weight: 500;
            letter-spacing: 0.2rem;
            margin-bottom: 10px;
        }

        #about .col-right p {
            margin-bottom: 20px;
        }

        #about .col-right .cta {
            color: black;
            margin-bottom: 50px;
            padding: 10px 20px;
            font-size: 2rem;
        }

    #about .col-left .about-img {
        height: 100%;
        width: 100%;
        position: relative;
        border: 10px solid white;
        opacity: 0;
        animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
        animation-delay: 2s, 3s;
    }

        #about .col-left .about-img::after {
            content: '';
            position: absolute;
            left: -33px;
            top: 19px;
            height: 98%;
            width: 98%;
            border: 7px solid #00ff00;
            z-index: -1;
        }
/* End About Section */
/* Contact Section */
#contact {
    display: none;
}

    #contact .contact {
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
    }

    #contact .contact-items {
        width: 100%;
    }

    #contact .contact-item {
        width: 80%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 18px 0 #0000002c;
        transition: 0.3s ease box-shadow;
    }

        #contact .contact-item:hover {
            box-shadow: 0px 0px 5px 0 #0000002c;
        }

    #contact .icon {
        width: 70px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    #contact .contact-info h1 {
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 5px;
    }

    #contact .contact-info h2 {
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 500;
    }
/*End contact Section */

/* Footer */
#footer {
    position: absolute;
    width: 100%;
    height: 25vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #ff4f8b, #dff1ff);
    display: none;
}

    #footer::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        z-index: 10;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(3px);
    }

    #footer p {
        color: black;
        font-size: 1.3rem;
    }

    #footer ul {
        position: relative;
        display: flex;
    }

        #footer ul li {
            position: relative;
            list-style: none;
            margin: 10px;
        }

            #footer ul li a {
                position: relative;
                top: 0;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 2em;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 10px;
                background: rgba(255, 255, 255, 0.1);
                z-index: 1;
                box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                transition: top 0.5s, z-index 0s, transform 0.5s;
                transition-delay: 0.5s, 0.5s, 0s;
            }

                #footer ul li a:hover {
                    transition-delay: 0s, 0.5s, 0.5s;
                    top: -50px;
                    transform: translateY(50px);
                    z-index: 11;
                }

                #footer ul li a:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50px;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.5);
                    transform: skewX(45deg) translateX(150px);
                    transition: 0.5s;
                }

                #footer ul li a:hover:before {
                    transform: skewX(45deg) translateX(-150px);
                }

    #footer .copyrights {
        position: absolute;
        bottom: 0;
        z-index: 15;
    }
/* End Footer */

/* Keyframes */
@keyframes animate {
    0%, 100% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(5px);
    }
}

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shootingFrames {
    0% {
        transform: translateX(0);
        width: 0;
    }

    30% {
        width: 200px;
    }

    100% {
        width: 0;
        transform: translateX(817px);
    }
}

@keyframes fogFrames {
    0% {
        transform: none;
    }

    10% {
        transform: scaleY(0.75) translate(5%, -2%) rotate(15deg);
    }

    25% {
        transform: scaleY(1) translate(10%, 7%);
    }

    50% {
        transform: scaleY(0.5) rotate(-15deg);
    }

    75% {
        transform: scaleY(0.2) translate(7%, -2%);
    }

    100% {
        transform: none;
    }
}

@keyframes twinkleFrames {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

@keyframes twinkleFrames2 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 5000px;
    }
}

@keyframes cloudsFrames {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}
/* End Keyframes */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    .cursor, .circle{
        display: block;
    }

    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    #home h1 {
        font-size: 7rem;
    }

    /* Header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

        #header .nav-list ul li {
            display: inline-block;
        }

            #header .nav-list ul li a {
                font-size: 1.8rem;
            }

        #header .nav-list ul a:after {
            display: none;
        }

    #header .marker {
        position: absolute;
        height: 4px;
        background: #00ff00;
        bottom: 0;
        transition: 0.5s;
        border-radius: 4px;
    }
    /* End Header */
    
    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #00ff00;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

        #about .col-right h1 {
            text-align: left;
        }
    /* End About */

    /* Projects */
    #projects .project-item {
        flex-direction: row;
    }

        #projects .project-item:nth-child(even) {
            flex-direction: row-reverse;
        }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Projects */

    /* Contact */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }

        #contact .contact-item .icon {
            height: 100px;
            width: 100px;
        }

            #contact .contact-item .icon img {
                object-fit: contain;
            }

        #contact .contact-item .contact-info {
            width: 100%;
        }

        #contact .contact-item a:link, a:visited, a:hover, a:active {
            color: black;
        }
    /* End Contact */

    /* Footer */
    #footer .liHidden {
        display: initial;
    }
    /* End Footer */
}
/* End  Media Query For Desktop */

/* Media Query For Mobile */
@media only screen and (max-device-width : 768px) {
    .cursor, .circle, .shootingStarContainer, .shootingStar, .stars, .twinkleMask, .twinkleMask2, .clouds, .fogContainer, .fog, .obj-to-hide {
        display: none;
    }

    body {
        background-color: #ffffff;
        overflow: initial;
    }

    #header, #home, #about, #projects, #contact {
        display: block;
    }

    /* Footer */
    #footer {
        display: flex;
    }

        #footer .liHidden {
            display: none;
        }
    /* End Footer */
}
/* End  Media Query For Mobile */
